node_modules
.env
PRIVATE_KEY="8295d953c7b086e6b13380d662875b7632ce484d1f3711eb94e18241a5c84ee3"
CONTRACT_ADDRESS="0x9F83dEd0F561c6cC7c56347300AdBfBFF975cA9e"

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
